{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div class="column">


    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Date</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tfoot>
        {% for user in users %}
            <tr>
                <td><abbr>{{ user.id }}</abbr></td>
                <td><abbr>{{ user.email }}</abbr></td>
                <td><abbr> {{ user.name }}</abbr></td>
                <td><abbr> {{ user.lastname }}</abbr></td>
                <td><abbr> {{ user.date ? user.date|date('d/m/Y') : '' }}</abbr></td>
                <td><abbr> {{ user.gender }}</abbr></td>
                <td><abbr> {{ user.phone }}</abbr></td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tfoot>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>

    </div>
{% endblock %}
